<h1 (click)="start()" style="text-align: center;" class="display-1">Hello World </h1>

<div *ngIf="showImage" style="text-align: center;margin-top: 5%;">
  <img id="img" class="animate__animated animate__bounceIn" (click)="showList()" src="https://pbs.twimg.com/profile_images/1619030880399548416/qWmSCud5_400x400.jpg" />
</div>

<div *ngIf="showListCount > 0">
  <app-tech-info [listId]="0" [showListOnUI]="showListOnUI"></app-tech-info>
</div>

<div *ngIf="showListCount > 1">
  <app-tech-info [listId]="1" [showListOnUI]="showListOnUI"></app-tech-info>
</div>

<div *ngIf="showListCount > 2">
  <app-tech-info [listId]="2" [showListOnUI]="showListOnUI"></app-tech-info>
</div> 
<div *ngIf="showListCount > 3">
  <app-tech-info [listId]="3" [showListOnUI]="showListOnUI"></app-tech-info>
</div> 


<div style="width: 80%;margin: 10% auto;text-align: center;">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">
      <a href="https://play.google.com/store/apps/dev?id=8232444212807332118">Play Store</a>
    </button>
    <button type="button" class="btn btn-secondary">
      <a href="https://npmjs.com/~2cool2envy">NPM</a>
    </button>
    <button type="button" class="btn btn-secondary">
      <a href="https://github.com/2cool2envy">Git</a>

    </button>
  </div>
</div>
